{% load static %}
{% load i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% trans "Local Library" %}{% endblock %}</title>
    {% block head %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}
</head>
<body>
    <div class="layout">
        <div class="sidebar">
            <ul>
                <li><a href="{% url 'catalog:index' %}">{% trans "Home" %}</a></li>
                <li><a href="{% url 'catalog:books' %}">{% trans "All books" %}</a></li>
                <li><a href="{% url 'catalog:authors' %}">{% trans "All authors" %}</a></li>
                {% if user.is_authenticated %}
                    <li>{% trans "User" %}: {{ user.get_username }}</li>
                    <li><a href="{% url 'catalog:my_borrowed_books' %}">{% trans "My Borrowed" %}</a></li>
                    {% if perms.catalog.can_mark_returned %}
                        <li><a href="{% url 'catalog:all-borrowed' %}">{% trans "All Borrowed Books" %}</a></li>
                    {% endif %}
                    <li>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="link-button">{% trans "Logout" %}</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">{% trans "Login" %}</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="content">
            <main>
                {% block content %}
                {% endblock %}
            </main>
            <footer>
                <p>{% trans "Library Management System" %}</p>
            </footer>
        </div>
    </div>
</body>
</html>
