{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
    <h2 class="card">{% trans "All Borrowed Books" %}</h2>

    {% if borrowed_books %}
        <ul class="card">
            {% for bookinstance in borrowed_books %}
                <li class="book-item">
                    {{ bookinstance.book.title }} ({% trans "Borrower" %}: {{ bookinstance.borrower }}) - 
                    {% trans "Due date" %}: {{ bookinstance.due_date|date:"d/m/Y" }}
                    <a href="{% url 'catalog:renew_book_librarian' bookinstance.pk %}" class="button">{% trans "Renew" %}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="card">{% trans "No books are currently borrowed." %}</p>
    {% endif %}
{% endblock %}
