{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <h2 class="card">{% trans "Title" %}: {{ book.title }}</h2>

    <p class="card">{% trans "Author" %}: {{ book.author }}</p>

    <p class="card">{% trans "Summary" %}: {{ book.summary }}</p>

    <p class="card">{% trans "ISBN" %}: {{ book.isbn }}</p>

    <p class="card">{% trans "Language" %}: {{ book.language }}</p>

    <p class="card">{% trans "Genre" %}: 
        {% if book.genre.all %}
            {{ book.genre.all|join:", " }}
        {% else %}
            {% trans "No genres available." %}
        {% endif %}
    </p>

    <h3 class="card">{% trans "Copies" %}</h3>

    {% if book_instances %}
        <ul class="card">
            {% for copy in book_instances %}
                <li class="book-item">
                    <p><strong>{% trans "Status" %}:</strong> <span class="copy-status {{ copy.status }}">{{ copy.get_status_display }}</span></p>

                    {% if copy.status != 'a' %}
                        <p><strong>{% trans "Due to be returned" %}:</strong> {{ copy.due_date|date:"d/m/Y" }}</p>
                    {% endif %}
                    <p><strong>{% trans "Imprint" %}:</strong> {{ copy.imprint }}</p>

                    <p><strong>{% trans "Id" %}:</strong> {{ copy.id }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="card">{% trans "No copies available." %}</p>
    {% endif %}
{% endblock %}
