<!DOCTYPE html>
<html lang="{% get_current_language %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Enter Team Name" %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>{% trans "Enter Team Name" %}</h1>
        <form method="post" action="{% url 'team_name_submit' %}">
            {% csrf_token %}
            <label for="team_name">{% trans "Enter name" %}:</label>
            <input type="text" id="team_name" name="team_name" required>
            <button type="submit">{% trans "Submit" %}</button>
        </form>
    </div>
</body>
</html>
